.ipynb_checkpoints
.vscode
./airbnb-amenity-detection
DataSets
ObjectDec_videos
videos
demo.jpeg
Fastai_objectDetection.mp4
FreeCourseSite.com-Udemy - Deep Learning Computer Vision™ CNN, OpenCV, YOLO, SSD & GANs.torrent
Lesson 8- Deep Learning Part 2 2018 - Single object detection.mp4.crdownload
retinanet_model_final_config.yaml
retinanet_model_final.pth
Unconfirmed 60054.crdownload
wandb